((server . ((port . 8080)
            (listen-ip . "127.0.0.1")))
 (application . ((scheme . "http")
                 (host . "localhost")
                 (port . 8080)))
 (devel-mode . #t)
 (database . ((user . "minimpapi")
              (server . "localhost")
              (database . "minimpapi")))
 (mail . ((from . "service-account@example.org")))
 (ticket-crypto . ((cipher-spec . (aes ctr))
                   ;; (generate-cipher-key '(aes ctr) #:size (/ 256 8))
                   (key . #"xxx")
                   ;; (generate-cipher-iv '(aes ctr))
                   (iv . #"xxx")
                   (expires-seconds . 60)))
 (secret-salt . #"xxx")
 (session-life . 72000)
 (allowed-hosts . ("localhost"))
 (allowed-systems . null))
